<%- include header %>
<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <div class="primary-box">
          <div class="primary-box-bd gxs-tags text-center">
            <div class="row">
              <div class="col-sm-2 col-sm-4 col-xs-4">
                <a class="btn btn-default btn-block" href="/tags/html&frasl;css">html &frasl; css</a>
              </div>
              <div class="col-sm-2 col-sm-4 col-xs-4">
                <a class="btn btn-primary btn-block" href="/tags/javascript">javascript</a>
              </div>
              <div class="col-sm-2 col-sm-4 col-xs-4">
                <a class="btn btn-success btn-block" href="/tags/js插件">js插件</a>
              </div>
              <div class="col-sm-2 col-sm-4 col-xs-4">
                <a class="btn btn-info btn-block" href="/tags/手机移动">手机移动</a>
              </div>
              <div class="col-sm-2 col-sm-4 col-xs-4">
                <a class="btn btn-warning btn-block" href="/tags/性能优化">性能优化</a>
              </div>
              <div class="col-sm-2 col-sm-4 col-xs-4">
                <a class="btn btn-danger btn-block" href="/tags/类库优化">类库优化</a>
              </div>
            </div>
          </div>
        </div>
        <div class="primary-box">
          <div class="primary-box-bd">
            <%- include postInfo %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-12 col-sm-6">
            <div class="primary-box widget widget-modified">
              <%- include me %>
            </div>
          </div>
          <div class="col-lg-12 col-sm-6">
            <div class="primary-box widget widget-modified ">
              <div class="primary-box-bd">
                <%- include new %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include paging %>
<%- include footer %>